# Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
receipts.db
*.sqlite3

# Logs and Debug Output
output.txt
output_clean.txt
crash_log.txt
*.log

# Project-specific Test Images
*.jpg
*.jpeg
*.png

# PaddleOCR Temporary Evaluation outputs
output/
inference_results/
log_output/

# VSCode / IDE
.vscode/
.idea/
